.swiper-wrapper {
  padding-bottom: 20px;
}
.custom-next {
  right: -50px !important;
}
.custom-prev {
  left: -50px !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: "" !important;
}
.custom-next {
  display: block !important;
}
.custom-prev {
  display: block !important;
  transform: scaleX(-1) translateY(-50%) !important;
}
.custom-next {
  top: 50% !important;
  transform: translateY(-50%);
}
.custom-next svg,
.custom-prev svg {
  width: 40px !important;
  height: 40px !important;
}

.swiper-pagination {
  bottom: 40px !important;
}
.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  background-color: white !important;
}
@media (min-width: 1200px) {
  .custom-next svg,
  .custom-prev svg {
    width: 70px !important;
    height: 70px !important;
  }
  .swiper-pagination-bullet {
    width: 20px !important;
    height: 20px !important;
  }
}

@media (max-width: 1800px) {
  .custom-next {
    right: 0px !important;
  }
  .custom-prev {
    left: 0px !important;
  }
}


.swiper-slide{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.swiper , .swiper-slide, .swiper-initialized, .swiper-horizontal, .swiper-rtl, .swiper-backface-hidden{
  display: flex !important;
  align-items: center  !important;
  justify-content: center !important;
  align-content: center !important;
  margin-top: auto !important;
}
.swiper {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.swiper-wrapper{
  height: 600px !important;
  margin: 0 !important;
}
